/sdk-ameba-v4.0c/project/realtek_amebaz_va0_example/EWARM-RELEASE/settings/
/sdk-ameba-v4.0c/project/realtek_amebaz_va0_example/EWARM-RELEASE/Debug/List/
/sdk-ameba-v4.0c/project/realtek_amebaz_va0_example/EWARM-RELEASE/Debug/Obj/
